
<div class="container">
<div class="spaceVertical"></div>
<div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Noticias</h4>
            <div class="card-body">
              <%= image_tag('Noti1.jpg', :class =>"img-thumbnail", :width=>"70%",:height=>"70%") %>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="buttonPanel">Leer m치s</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Reciclaje</h4>
            <div class="card-body">
               <%= image_tag('reciclaje.jpg', :class =>"img-thumbnail", :width=>"70%",:height=>"70%") %>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae </p>
            </div>
            <div class="card-footer">
              <a href="#" class="buttonPanel">Leer m치s</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Centros de informaci칩n</h4>
            <div class="card-body">
            <%= image_tag('centroInfo.jpg', :class =>"img-thumbnail", :width=>"70%",:height=>"70%") %>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="buttonPanel">Leer m치s</a>
            </div>
          </div>
        </div>
      </div>
      <%= image_tag('mapa.jpg', :class =>"img-fluid rounded mb-4") %>
</div>
